<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Buckets Investing</title>
    <!-- Favicon-->
    <link id="favicon" rel="icon" href="assets/favicon.ico">
    <!-- Font Awesome icons (free version)-->
    <!-- Bootstrap CSS -->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Simple line icons-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="css/stylesheet.css" rel="stylesheet" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
</head>

<body>

    <!-- Signup Modal -->
    <div id="modal-container">
        <div class="modal-background">
            <div class="modal modal-lg" style="height: auto;">
                <div class="modal-header">
                    <h3 style="margin: 0 auto" class="modal-title" id="exampleModalLongTitle"><strong>Sign Up for Early
                            Access</strong></h3>
                    <button type="button" id="close-signup" class="close" aria-label="Close" onclick="resetForm()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="signup-form">
                        <form>
                            <input type="text" id="name" placeholder="Full Name" required>
                            <input type="email" id="email" placeholder="E-mail" required />
                            <input type="submit" id="submit-signup" onclick="toggleRefCode()">
                        </form>
                    </div>
                    <script>
                        $('#submit-signup').on('click', function(e) {
                            e.preventDefault();
                            const userName = document.querySelector('#name');
                            const userMail = document.querySelector('#email');
                            if (userName.value === "") {
                                toggleRefCode();
                                alert("Please enter your name")
                            } else if (userMail.value === "") {
                                toggleRefCode();
                                alert("Please enter your email")
                            }
                            let referralID;
                            $.ajax({
                                url: '/add-user',
                                type: "POST",
                                data: {
                                    'name': $('#name').val(),
                                    'email': $('#email').val()
                                },
                                success: function(res) {
                                    const rcode = document.querySelector('#copy-referral-code')
                                    referralID = res.referralCode
                                    rcode.value = "http://bucketsinvesting.herokuapp.com/?refid=" + res.referralCode
                                },
                                error: function(jqXHR, textStatus, errorMessage) {

                                }
                            });
                            $.ajax({
                                url: '/get-user',
                                type: "GET",
                                success: function(res) {
                                    const listStatus = document.querySelector('#list-status')
                                    listStatus.textContent = "You are currently number " + res.currentPos + " in line.";
                                },
                                error: function(jqXHR, textStatus, errorMessage) {
                                    alert(errorMessage);
                                }
                            });
                        })
                    </script>
                    <div id="check-status-form" style="display: none;">
                        <form>
                            <input type="email" id="email-check" placeholder="E-mail" required />
                            <input type="submit" id="submit-check" value="Check My Status">
                        </form>
                        <p id="check-status"></p>
                        <script>
                            $('#submit-check').on('click', function(e) {
                                e.preventDefault();
                                const userMail = document.querySelector('#email-check');
                                if (userMail.value === "") {
                                    alert("Please enter your email")
                                }
                                $.ajax({
                                    url: '/check-user',
                                    type: "PUT",
                                    data: {
                                        'email': $('#email-check').val()
                                    },
                                    success: function(res) {
                                        const listStatus = document.querySelector('#check-status')
                                        listStatus.textContent = "You are currently number " + res.currentPos + " in line."
                                        const refferalLink = document.querySelector('#copy-referral')
                                        const rcode = document.querySelector('#copy-referral-code')
                                        referralID = res.code
                                        rcode.value = "http://bucketsinvesting.herokuapp.com/?refid=" + res.code
                                        refferalLink.style.display = "block";
                                    },
                                    error: function(jqXHR, textStatus, errorMessage) {

                                    }
                                });
                            })
                        </script>
                    </div>
                    <div id="already-registered">
                        <!-- Check my status Button -->
                        <p style="font-weight: 700; font-size: rem;"> Already registered? click here to
                            <span id="registered" type="button" class="btn-status" onclick="toggleCheckStatus()">
                                check your status
                            </span>
                        </p>
                    </div>
                    <div id="copy-referral" style="display: none;">
                        <p id='list-status'></p>
                        <p>Refer your friends to move up the list with this link</p>
                        <input type="text" value="" id="copy-referral-code">
                        <button onclick="copyCode()">Copy Code</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Signup Modal -->

    <!-- First Slide -->
    <section>
        <div class="background-one container-fluid py-5">
            <div class="row py-5">
                <div class="col-md-5 offset-md-1 text-center text-md-start d-flex flex-column justify-content-center">
                    <div>
                        <h1 class="mb-5 col-1-text">The <br> <span style="color:#28DF99"> SIMPLEST </span> <br> Way to Share
                            <br> and Follow <br> <span style="color:#28DF99"> Portfolios </span>
                        </h1>
                    </div>
                    <div class="d-grid">
                        <button id="anim" class="btn-lg btn-signup rounded-pill offset-3 col-6 col-md-9 col-lg-8 offset-md-0" type="submit">EARLY
                            ACCESS</button>
                    </div>
                </div>
                <div class="col-md-3 pt-5 pt-md-0 d-flex justify-content-center">
                    <img src="assets/img/phone-1.png" class="img-fluid">
                </div>
                <div class="col-md-3 align-self-center d-none d-md-block">
                    <strong class="buckets-text">Buckets</strong>
                </div>
            </div>
        </div>
    </section>

    <hr class="seperate d-none d-md-block">

    <!-- Second Slide-->
    <section>
        <div class="background-two container-fluid py-5">
            <div class="row py-5">
                <div class="col-md-3 offset-md-1 d-flex justify-content-center order-2 order-md-1" data-aos="fade-right" data-aos-duration="1200">
                    <img src="assets/img/phone-2.png" class="img-fluid">
                </div>
                <div class="col-md-6 offset-md-1 d-flex flex-column justify-content-center order-1 order-md-2">
                    <i class="far fa-bell bell-icon align-self-md-end"></i>
                    <h1 class="second-slide-text text-center mb-5 mb-md-0">Get notified when your friends trade</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="seperate d-none d-md-block">

    <!-- Third Slide-->
    <section>
        <div class="background-one container-fluid py-5">
            <div class="row py-5">
                <div class="col-md-5 offset-md-1 text-center text-md-start d-flex flex-column justify-content-center">
                    <div>
                        <h1 class="col-1-text"> <u> HyperLink </u> your Portfolio <span style="color:#28DF99">
                                TODAY
                            </span> </h1>
                    </div>
                    <div class="d-grid">
                        <button id="anim2" class="btn-lg btn-signup rounded-pill offset-3 col-6 col-md-9 col-lg-8 offset-md-0" type="submit">SIGN UP</button>
                    </div>
                </div>
                <div class="col-md-3 pt-5 pt-md-0 d-flex justify-content-center" data-aos="fade-left" data-aos-duration="1200">
                    <img src="assets/img/phone-3.png" class="img-fluid">
                </div>
                <div class="col-md-3 align-self-center d-none d-md-block" data-aos="zoom-in" data-aos-duration="1200">
                    <strong class="buckets-text">Buckets</strong>
                </div>
            </div>
        </div>
    </section>

    <hr class="seperate d-none d-md-block">

    <!-- Fourth Slide -->
    <section>
        <div class="background-two container-fluid py-5">
            <div class="row py-5">
                <div class="col-md-3 offset-md-1 d-flex justify-content-center order-2 order-md-1" data-aos="fade-right" data-aos-duration="1200">
                    <img src="assets/img/phone-4.png" class="img-fluid">
                </div>
                <div class="col-md-6 offset-md-1 d-flex flex-column justify-content-center order-1 order-md-2">
                    <h1 class="second-slide-text text-center text-md-start mb-5 mb-md-0">Create, share, follow and invest in stock or crypto baskets</h1>
                    <h4 class="fourth-slide-text text-center text-md-start mb-5 mb-md-0 mt-0 mt-md-5">COMING SOON...</h4>
                </div>
            </div>
        </div>
    </section>

    <hr class="seperate d-none d-md-block">

    <!--Section: Contact v.2-->
    <section class="contact pt-4">
        <!--Section heading-->
        <h1 class="h1-responsive font-weight-bold text-center mb-4">Contact us</h2>
            <!--Section description-->
            <p class="text-center w-responsive mx-auto mb-2">Do you have any questions? Please do not hesitate to contact us directly. </p>
            <div class="row justify-content-center">
                <!--Grid column-->
                <div class="col-md-5 mb-md-0 mb-5">

                    <form id="contact-form" name="contact-form" action="/contact" method="POST" role="form">
                        <!--Grid row-->
                        <div class="row my-1">
                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="contact-name" name="name" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="contact-email" name="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row my-1">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="subject" name="subject" class="form-control" placeholder="Subject">
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row my-1">

                            <!--Grid column-->
                            <div class="col-md-12">

                                <div class="md-form">
                                    <textarea type="text" id="message" name="message" rows="2" placeholder="Message" class="form-control md-textarea"></textarea>
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->

                    </form>

                    <div class="text-center mb-3">
                        <a class="btn btn-green" onclick="document.getElementById('contact-form').submit();">SEND</a>
                    </div>
                    <div class="status"></div>
                </div>
                <!--Grid column-->
            </div>

    </section>
    <!--Section: Contact v.2-->
    <!-- Footer-->
    <footer class="footer bg-light text-center">
        <p class="text-muted medium mb-4 mb-lg-0">© Buckets Investing 2021. All Rights Reserved.</p>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <script>
        $('#anim').click(function() {
            var buttonId = $(this).attr('id');
            $('#modal-container').removeAttr('class').addClass(buttonId);
            $('body').addClass('modal-active');
        })
        $('#anim2').click(function() {
            var buttonId = $(this).attr('id');
            $('#modal-container').removeAttr('class').addClass(buttonId);
            $('body').addClass('modal-active');
        })
        $('#close-signup').click(function() {
            $('#modal-container').addClass('out');
            $('body').removeClass('modal-active');
        });
    </script>
</body>

</html>