* {
    font-family: "Telegraf Medium", Tahoma, serif !important;
}

.background-one {
    background: linear-gradient(to right, #d2f6c5 0%, #d2f6c5 65%, #28df99 65%, #28df99 65%, #28df99 100%);
}

.background-two {
    background: #28df99;
}

.col-1-text {
    font-weight: bold;
    font-size: 5vw;
}

.buckets-text {
    font-size: 5vw;
    color: #FFF;
}

.second-slide-text {
    font-weight: bold;
    font-size: 4vw;
    color: #F6F7D4;
}

.fourth-slide-text {
    font-size: 2vw;
    color: #FFF;
}

.bell-icon {
    color: #F6F7D4;
    font-size: 7vw;
}

@media (max-width: 768px) {
    .background-one {
        background: #d2f6c5;
    }
    .col-1-text,
    .second-slide-text {
        font-size: 4em;
    }
    .bell-icon {
        font-size: 8em;
        margin: auto;
    }
    .fourth-slide-text {
        font-size: 2em;
    }
}

.seperate {
    display: block;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0;
}

.btn-signup {
    color: #fff;
    font-family: "Telegraf Medium", Tahoma, serif;
    font-weight: bold;
    background-color: #28df99;
    border-color: #28df99;
    outline: none;
}

.btn-signup:hover {
    color: #fff;
    font-family: "Telegraf Medium", Tahoma, serif;
    background-color: #28df99;
    border-color: #28df99;
    border-radius: 60%;
    cursor: pointer;
}

.btn-signup:active {
    outline: none;
    cursor: pointer;
}

.btn-signup:focus {
    outline: none;
}

.btn-status {
    text-decoration: underline !important;
    font-weight: 700;
    font-size: 1rem;
    margin: 0 !important;
    cursor: pointer;
}

.rounded-pill {
    border-radius: 50rem !important;
}

.modal-body input {
    width: 100%;
    margin: 5px 0;
}

.contact {
    background: #d2f6c5;
}

.btn-green {
    background-color: #28df99;
    color: #fff !important;
}

#modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 1;
}

#modal-container.anim {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.anim .modal-background .modal {
    transform: scale(0);
    animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.anim.out {
    transform: scale(1);
    animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.anim.out .modal-background .modal {
    animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.anim2 {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.anim2 .modal-background .modal {
    transform: scale(0);
    animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.anim2.out {
    transform: scale(1);
    animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.anim2.out .modal-background .modal {
    animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
}

#modal-container .modal-background .modal {
    background: white;
    padding: 50px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
}

#modal-container .modal-background .modal h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
}

#modal-container .modal-background .modal p {
    font-size: 18px;
    line-height: 22px;
}

#modal-container .modal-background .modal .modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

#modal-container .modal-background .modal .modal-svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 778;
    stroke-dashoffset: 778;
}

@keyframes unfoldIn {
    0% {
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        transform: scaleY(1) scaleX(1);
    }
}

@keyframes unfoldOut {
    0% {
        transform: scaleY(1) scaleX(1);
    }
    50% {
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        transform: scaleY(0.005) scaleX(0);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}